.pagina_cegadoras {
  background-color: #7bc4e9;
  border: solid 2px #7bc4e9; }

.pagina_humos {
  background-color: #2ef99a;
  border: solid 2px #2ef99a; }

.pagina_molotovs {
  background-color: #f45459;
  border: solid 2px #f45459; }

main .banner_index, main div .banner_comunidad {
  background-position: center;
  background-size: cover;
  height: 80vh; }

.logo:hover {
  animation: logo 1.5s infinite linear; }

.iconos_footer:hover {
  color: #ff924d; }

.iframes:hover {
  transform: scale(1.3); }

.boton:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }

@keyframes logo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

main div .animacion_banner {
  animation: animacion_titulo_banner 2s ease-in-out; }

@keyframes animacion_titulo_banner {
  from {
    width: 60%; }
  to {
    width: 100%; } }

main section div div .card_colors {
  background-color: #ff924d;
  border: solid 4px #70b1d1; }

footer section a i .logo_footer {
  width: 3em;
  height: 3em;
  transition: all 0s; }

* {
  font-family: "Poppins", sans-serif; }

*::selection {
  background-color: #70b1d1;
  color: black; }

body {
  background-image: linear-gradient(to left, #ff924d, #70b1d1); }

.background_error {
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); }

header nav div a .logo {
  width: 50px;
  height: auto; }

main .banner_index {
  background-image: url(".././images/banner_csgo.jpeg"); }

main div .banner_comunidad {
  background-image: url(".././images/csgo_comunidad.jpg"); }

main section div div .iframes {
  width: 72%;
  height: 100%;
  transition: all 0.2s; }

.boton {
  background-image: linear-gradient(to right, #ff924d, #70b1d1);
  transition: all 0.5s; }

@media screen and (max-width: 767.98px) {
  .media_center {
    display: unset !important;
    justify-content: unset !important; } }
