/* Estilo general */
* {
  font-family: "Poppins", sans-serif;
}

/* Estilo del body */
body {
  background-image: linear-gradient(to left, #ff924d, #70b1d1);
}

/* Estilo del header + nav */
.logo {
  width: 50px;
  transition: all 2s;
}

.logo:hover {
  animation: logo infinite linear;
  animation-duration: 1.5s;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Banners */
.banner {
  background-image: url(".././images/banner_csgo.jpeg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.banner2 {
  background-image: url(".././images/csgo_comunidad.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.texto_banner {
  animation-name: texto;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes texto {
  from {
    width: 40%;
  }
  to {
    width: 100%;
  }
}

/* Cards del index */
.cards_size {
  width: 70%;
}

.cards_animation {
  animation-name: cards;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes cards {
  from {
    width: 40%;
  }
  to {
    width: 70%;
  }
}

/* Estilos de los iframes */
.iframes {
  width: 80%;
  height: 100%;
  transition: all 0.5s;
}

.iframes:hover {
  transform: scale(1.2);
}

/* Estilo del footer */
.logo_footer {
  height: 3em;
  width: 3em;
  transition: all 1s;
}

.logo_footer:hover {
  transform: scale(1.2);
}
