// Banners
main {
  .banner_index {
    @extend %banner_centrado;
    background-image: url(".././images/banner_csgo.jpeg");
  }
}

main {
  div {
    .banner_comunidad {
      @extend %banner_centrado;
      background-image: url(".././images/csgo_comunidad.jpg");
    }
  }
}

// Iframes
main {
  section {
    div {
      div {
        .iframes {
          width: 80%;
          height: 100%;
          transition: all 0.5s;
        }
      }
    }
  }
}
