// Logo
.logo:hover {
  animation: logo 1.5s infinite linear;
}

// Logos footer
.iconos_footer:hover {
  color: $color_principal;
}

// Iframes
.iframes:hover {
  transform: scale(1.3);
}

// Botones
.boton:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Animación texto banners
main {
  div {
    .animacion_banner {
      animation: animacion_titulo_banner 2s ease-in-out;
    }
  }
}

@keyframes animacion_titulo_banner {
  from {
    width: 60%;
  }

  to {
    width: 100%;
  }
}