// Logo
.logo:hover {
  animation: logo 1.5s infinite linear;
}

// Logos footer
.logo_footer:hover {
  transform: scale(1.2);
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Animación texto banners
main {
  div {
    .animacion_banner {
      animation: animacion_titulo_banner 2s ease-in-out;
    }
  }
}

@keyframes animacion_titulo_banner {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}

// Iframes
.iframes:hover {
  transform: scale(1.2);
}
